.m-info-section {
	background: #fff;
	height: 246px;

	.m-info-section-img {
		width: 420px;
		height: 226px;
		border-radius: 2px;
		background: #d8d8d8;
	}
	.m-info-section-infos{
		margin-left: 10px;
	}
}